package conf

var (
	//截图保存路径
	PicDirectory = "d:/photo/"
	//百度AI应用ApiKey
	BaiduAiAppKey = "xxxxx"
	//百度Ai应用SecretKey
	BaiduAiSecretKey = "xxxxxx"
	//图片裁剪尺寸，根据自己手机分辨率设置,我的手机分辨率为1080*1900
	X1 = 0
	Y1 = 300
	X2 = 1080
	Y2 = 1200
	//是否为测试模式，测试是指没有连接手机的情况下，直接用电脑的图片测试
	IsTest = false
	//测试模式下的图片路径
	TestPicPath = "d:/photo/1516029402.png"
)